/Bin
/.vs
/PyRx/PyRx24
/PyRx/PyRxG23
/PyRx/PyRxV23
/PyRx/PyRxZ23
/PyRx/*.user
/PySamples/*.err
*.pyc
/PySamples/__pycache__
/PySamples/autoComplete.py
/PySamples/doit.py
/RxInstall/x64
/RxUninstall/x64
/RxUninstall
/PyRxSetup/Release/*.msi
/PyRxSetup/Release/*.exe
/PyRxSetup/Debug
/PyRxSetup/Release
/PyRxStubs/genDocTest.py
/PySamples/_doit.py
/PySamples/_wxdoit.py
/unit tests/testmedia/06457.bak
/unit tests/testmedia/*.bak
/PySamples/dwg/*.dwl
/PySamples/dwg/*.dwl2
/PySamples/_doit2.py
/PyRx/PyRx24.0
/PyRx/PyRx24.3
/PyRx/PyRx24.2
/PyRx/PyRx24.1
/PyRx/PyRx25.0
/PySamples/_geo.py
/PySamples/_axdoit.py
/PyRxSetup/Include/python-3.10.10-amd64.exe
/PyRxAcSetup/Release
/PyRxAcSetup/Debug
/PyRxAcSetup/Include/python-3.10.10-amd64.exe
/PyRx/PyRxZ24.0
/PyRx/PyRxV24.0
/PyRx/PyRxG24.0
/PySamples/.vscode
__pycache__
/PyRxLoader/Rx25Loader
/PyRxLoader/*.user
